@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

html,
body,
body > div {
  height: 100%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: rgb(128, 211, 204);
  color: rgb(37, 85, 81);
}
